/* Globals */

/* Links */

a,
a:focus,
a:hover {
  color: #fff;
}


/* Base structure */

html,
body {
  height: 100%;
  background: url(../images/everestlow.jpg) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

body {
  color: #fff;
  font-family: 'Lato', sans-serif;
  font-size: 14pt;
  text-align: center;
  text-shadow: 0 3px 3px rgba(0,0,0,1);
}

h1 {
  color: #fff;
  font-family: 'Lato', sans-serif;
  font-size: 36pt; 
}

/* Extra markup and styles for table-esque vertical and horizontal centering */

.wrapper {
  display: table;
  width: 100%;
  height: 100%;
  min-height: 100%;
  background: url(../images/everest.jpg) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  z-index: 0;
}

.wrapper-inner {
  display: table-cell;
  vertical-align: middle;
  z-index: 1;
}

